################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CityInfo/.vs/CityInfo/FileContentIndex/a5047bf0-3831-4dbe-9ae1-fe1ddacd1161.vsidx
/CityInfo/.vs/CityInfo/FileContentIndex
